name: First Action
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Print greeting
        run: echo "Hello world!"
      - name: Goodbye
        run: echo "Bye world"
      - name: Load and cache dependencies
        uses: ./.github/actions/cached-deps
