name: Matrix Demo - Use reusable workflow to deploy
on: push
jobs:
  build:
    strategy:
      matrix:
        node-version: [18, 20, 22]
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - node-version: 24
            operating-system: ubuntu-latest
        exclude:
          - node-version: 18
            operating-system: windows-latest

    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-deps-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
  deploy:
    needs: build
    uses: ./.github/workflows/reusable.yml
    with:
      artifact-name: dist-files
    secrets:
      some-secret: Somesecret will be here
  print-deploy-result:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Print deploy output
        run: echo "${{needs.deploy.outputs.result}}"
